rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }

    match /consultations/{consultationId}/files/{fileName} {
      allow read, write: if signedIn();
    }

    match /group_consultations/{userId}/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == userId;
    }

    match /doctor_documents/{userId}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if signedIn();
    }
  }
}
